APP_NAME=bot-agent
APP_HOST=0.0.0.0
APP_PORT=8001
DEBUG=true

CHAT_HISTORY_TURNS=10

POSTGRES_URL=postgresql://admin:changeme@localhost:5432/postgres
KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_CLIENT_ID=bot-agent
KAFKA_CONSUMER_GROUP=bot-agent
KAFKA_TOPIC_PREFIX=resume-scan
